[data-elm-hot="true"] {
    height: inherit;
}

.container {
    max-width: 37em;
}

.terminal {
    font-family: monospace;
}

.btn-default {
    background-color: var(--font-color);
    border-color: var(--invert-font-color);
    color: var(--invert-font-color);
}

.btn {
    border-style: solid;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    padding: .65em 1em;
    font-size: 1em;
    font-family: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button[disabled=disabled],
button:disabled {
    background-color: #a3abba;
    cursor: not-allowed;
}

.letter {
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

.info {
    margin-right: 1em;
}

.terminal-prompt::before {
    content: "";
}

pre {
    font-weight: bold;
}

.terminal,
pre {
    font-family: "Ubuntu Mono";
}

:root {
    --font-stack: "Ubuntu Mono" !important;
    --mono-font-stack: "Ubuntu Mono", monospace;
}